<div class="p-5">
    <h1>Crear Tareas</h1>

    <form action="/todos" method="post">
        <div class="form-group">
            <label for="nombre">Nombre Cliente</label>
            <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Ingresar Nombre Cliente">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input name="descripcion" type="text" class="form-control" id="descripcion" placeholder="Ingresar Descripción Tarea">
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>

</div>